body {
    margin:0;
    padding:0;
}

.body {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.head-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0 10vw;
}

.head-content p {
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

.log-panel {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

h2 {
    margin:0;
    font-size:3vh;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.player, .computer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size:2vw;
    font-weight: bolder;
}

.health {
    font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
    font-size:2.5vw;
    margin-top:-1vh;
}

.battle-log {
    height:30vh;
    border: 2px solid gray;
    padding:1vh;
    width:60%;
    background-color: rgb(252, 252, 252);
    white-space: pre-line;
}

.battle-log p {
    text-align: left;
    padding:0 0 0 2vw;
    overflow:auto;
    height:72%;
    scrollbar-width: thin;
}


.button {
    width:10vh;
    height:10vh;
    font-size: 6vh;
    padding:2px;
    text-align: center;
    background: rgb(7,13,36);
    background: linear-gradient(159deg, rgba(7,13,36,1) 0%, rgba(33,165,207,1) 48%, rgba(3,12,29,1) 100%);
    border:2px solid blue;
    border-radius:2vh;
    box-shadow: 4px 2px 2px gray;
}

.button:hover {
    border: 2px solid red;
    cursor: pointer;
    box-shadow: 10px 5px 5px rgba(255, 0, 0, 0.678);
}


.content-container {
    position:relative;
}

.choice-container {
    padding-top:10vh;
    display:flex;
    padding:8vh;
    justify-content: center;
    gap: 5vw;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.103);
    padding-bottom:8vh;
}

.choice {
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.choice label {
    margin-top:1vh;
    font-weight:bolder;
}

.info {
    font-size:3vw;
    font-style:oblique;
    color:crimson;
    font-weight: bolder;
    text-align: center;
    text-shadow:black -0.2vw 0px;
}

.footer {
    background-color: rgba(235, 235, 235, 0.5);
    height:10vh;
    border-top:1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer a {
    text-decoration-color: black;
    color:blue;
}